In [2]:
import json
import pandas as pd

In [3]:
df = pd.read_csv("first_thousand_works.csv")

In [7]:
df.head()

,type,key,revision,last_modified,json
0,/type/work,/works/OL2476856W,7,2020-02-14 06:55:51.994485 UTC,"{""last_modified"": {""type"": ""/type/datetime"", ""..."
1,/type/work,/works/OL2476952W,7,2022-02-19 12:07:24.425326 UTC,"{""first_publish_date"": ""1980"", ""dewey_number"":..."
2,/type/work,/works/OL2478845W,6,2020-02-13 06:11:09.690934 UTC,"{""covers"": [2101954], ""first_publish_date"": ""M..."
3,/type/work,/works/OL2480624W,8,2020-02-14 06:55:52.595812 UTC,"{""first_publish_date"": ""1980"", ""last_modified""..."
4,/type/work,/works/OL2482918W,9,2022-11-24 16:01:05.607921 UTC,"{""first_publish_date"": ""1999"", ""key"": ""/works/..."

In [4]:
df.dtypes

type             object
key              object
revision          int64
last_modified    object
json             object
dtype: object

In [6]:
df_json = pd.json_normalize(df["json"].map(json.loads))

In [18]:
df_json.head()

,title,covers,subject_places,first_publish_date,subject_people,key,authors,latest_revision,subjects,revision,...,dewey_number,lc_classifications,subject_times,subtitle,description.type,description.value,links,excerpts,first_sentence.type,first_sentence.value
0,Willie,[6700127],[United States],July 1984,[Willie Nelson (1933-)],/works/OL2476856W,"[{'type': '/type/author_role', 'author': {'key...",7,"[Country musicians, Biography]",7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The Spanish crown and the defense of the Carib...,"[4397940, 8483417]","[Caribbean Area, Spanish Main]",1980,NaN,/works/OL2476952W,"[{'author': {'key': '/authors/OL345747A'}, 'ty...",7,"[History, History, Naval, Naval History, Pirat...",7,...,[972.9/02],[F2161 .H7],[To 1810],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pink Icing and Other Stories,[2101954],NaN,May 2007,NaN,/works/OL2478845W,"[{'type': {'key': '/type/author_role'}, 'autho...",6,"[Social life and customs, Fiction]",6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Neocheating, the rising menace to poker, black...",[6701567],NaN,1980,NaN,/works/OL2480624W,"[{'type': '/type/author_role', 'author': {'key...",8,[Gambling systems],8,...,[795/.01],[GV1302 .W34],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Too popular,"[371051, 392189]",NaN,1999,NaN,/works/OL2482918W,"[{'type': {'key': '/type/author_role'}, 'autho...",9,"[Fiction, Junior high schools, Twins, Dating (...",9,...,[[Fic]],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_json.title

0                                                 Willie
1      The Spanish crown and the defense of the Carib...
2                           Pink Icing and Other Stories
3      Neocheating, the rising menace to poker, black...
4                                            Too popular
                             ...
995                                 The order of rituals
996    Review of the relations between the United Sta...
997                             Hygiene for young people
998                  The work of the Old Testament sages
999                            Cinque dialoghi necessari
Name: title, Length: 1000, dtype: object

In [8]:
df_json.dtypes

title                   object
covers                  object
subject_places          object
first_publish_date      object
subject_people          object
key                     object
authors                 object
latest_revision          int64
subjects                object
revision                 int64
last_modified.type      object
last_modified.value     object
created.type            object
created.value           object
type.key                object
dewey_number            object
lc_classifications      object
subject_times           object
subtitle                object
description.type        object
description.value       object
links                   object
excerpts                object
first_sentence.type     object
first_sentence.value    object
dtype: object

In [12]:
df_json["title"]

0                                                 Willie
1      The Spanish crown and the defense of the Carib...
2                           Pink Icing and Other Stories
3      Neocheating, the rising menace to poker, black...
4                                            Too popular
                             ...
995                                 The order of rituals
996    Review of the relations between the United Sta...
997                             Hygiene for young people
998                  The work of the Old Testament sages
999                            Cinque dialoghi necessari
Name: title, Length: 1000, dtype: object